<div class="bg-blue-500 p-4 h-12 flex flex-row items-center justify-between">

    <div class="flex "> 
        <div class=" flex items-center "> 
            <input (input)="onSearchChange($event)" placeholder="search">
            <i class="fa-solid fa-filter text-xl px-4 text-white cursor-pointer" (click)="sortEvents()"></i>

        </div>
    </div>

    <div class="relative">
        <div class="cursor-pointer" (click)="toggleCartPopup()">
          <i class="fa-solid fa-cart-shopping text-white text-xl"></i>
          <div class="absolute -top-2 -right-2 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs" *ngIf="cartItemCount">
              {{ cartItemCount }}
          </div>
        </div>
      </div>
      
    

    
      <div class="absolute w-96 top-6 right-12 mt-12 bg-white border shadow-lg  z-50 p-2 overflow-y-auto max-h-96" *ngIf="showCartPopup">
        <div class="flex justify-between items-center border-b p-2">
          <span class="text-lg font-bold">Warenkorb</span>
          <button class="text-red-500 hover:text-red-700" (click)="toggleCartPopup()">X</button>
        </div>
        <div *ngFor="let item of cartItems$ | async" class="p-2 border-b">
          <div class="font-medium">{{ item.title }}</div>
          <img [src]="item.flyerFront" alt="Flyer" class="w-full h-32 object-cover mt-2" />
        </div>
      </div>
      
  
</div>


  