<div class="sticky top-0 z-10 bg-white bg-opacity-50 h-12 flex items-center py-1 w-full">
  <p class="text-blue-500 text-2xl font-bold px-8 ">{{ currentEventDate }}</p>
</div>
<div *ngFor="let event of filteredEvents"  (mouseenter)="setCurrentEventDate(event.startTime)" class="shadow-xl rounded-md m-4 border boerder-slate-500 ">
    <div class="flex flex-row justify-center items-center p-4">
      <img class="w-12 h-12 rounded-full mx-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/User_icon-cp.svg/1200px-User_icon-cp.svg.png" alt="Flyer">
      <p class="">{{ event.title }}</p>
    </div>
    <div class="flex flex-col">
        <div class="  p-4">
        <img class="h-64 w-full object-cover" [src]="event.flyerFront" alt="Venue"> 
      </div>
      <div>
        <div class="flex flex-row py-2 px-4">
          <i class="flex text-blue-600 text-xl pr-2 fa-solid fa-location-dot items-center"></i>
          <a [href]="'https://www.google.com/maps?q=' + event.venue?.name" target="_blank">
            {{ event.venue?.name }}
          </a>
          
        </div>
        <div class="px-4 py-2"> 
          <div>{{ event.startTime }}</div> 
          <div>{{ event.endTime }}</div>
        </div>
      </div>
      <div class="flex justify-end py-2 px-4">
        <i class="text-4xl text-blue-600 fa-solid fa-circle-plus" (click)="addToCart(event)"></i>
      </div>
    </div>

  </div>
